
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
        }

        h1 {
            color: #000000;
            font-size: 3rem;
            margin-bottom: 40px;
        }

        p {
            font-size: 0.5rem;
            margin-bottom: 30px;
        }

        /* Button styling */
        .btn {
            display: block;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            padding: 15px 30px;
            font-size: 20px;
            background-color: #000000;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #ff0000;
            box-shadow: 0 4px 8px rgba(255, 0, 0, 0.4);
        }

        footer {
            margin-top: 40px;
            color: #555;
        }
        .my-img {
            width: 200px;
            margin-bottom: 30px;  /* adjust the space */
        }

